/* .form{
    border: 2px solid red;
} */
.form tr{
    height: 50px;
}
.form tr td{
    /* border: 2px solid salmon; */
    padding: 0px 50px;
}

.form label{
    font-size: 24px;
    font-weight: 600;
}
.form input{
    width: 500px;
    outline: none;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 10px;
}
.form textarea{
    outline: none;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
}
.form button{
    margin: 10px 10px;
    padding: 10px 30px;
    background-color: rgb(255, 189, 20);
}